
.footer {
    // padding: 2vh 1vh;
    padding: 10px 5px;   //todo: forum!

    &__title {
        color: @dimgrey;
        font-size: @footer-font-size;  //todo: forum!
        text-align: center;
        // padding-top: 1vmin;

        padding-top: 3px;  //todo: forum!
    }
}