@import './variables';
@import './reset';

@import './base/common';
@import './base/page';
@import './base/header';
@import './base/main';
@import './base/footer';

@import './blocks/logo';
@import './blocks/menu';
@import './blocks/popup-form';
@import './blocks/hiding-layer';
@import './blocks/alert-form';
@import './blocks/item-decor';


.header__title, .menu, .popup-form {
	font-family: cursive;
}

.header__title, .menu, .popup-form {
	button {
		border-radius: 3px;
		margin: 0.5vh 0;
	}
}

.header__title, .menu {
	button {
		background: @blue;
		border-color: @greyblue;
	}
}

.popup-form {
	button {
		background: @lightyellow;
		border-color: @orangegrey;

		font-family: cursive;

		margin-bottom: 1vmin;   //?
	}
}

button {
	cursor: pointer;
	border-color: @greyblue;
}

a {
    color: @blueviolet;
}


