@import './variables';
@import './reset';

@import './base/common';
@import './base/page';
@import './base/header';
@import './base/main';
@import './base/footer';

@import './blocks/logo';
@import './blocks/menu';
@import './blocks/popup-form';
@import './blocks/hiding-layer';
@import './blocks/alert-form';
@import './blocks/item-decor';
@import './blocks/content-item';
@import './blocks/image';
@import './blocks/feedback-form';


.header__title, .menu, .popup-form {
	font-family: cursive;
}

.header__title, .menu, .popup-form {
	button {
		border-radius: 3px;
	}
}

.popup-form {
	button {
		background: @lightyellow;
		border-color: @orangegrey;

		font-family: cursive;

		margin-bottom: 1vmin;   //?
	}
}

button {
	cursor: pointer;
	background: @blue;
	border-color: @greyblue;
}

a {
	color: @blueviolet;
	font-size: @link-font-size;
}


